@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700;900&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    min-height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    color: #E5E7EB
}

li {
    font-size: 18px;
}

footer {
    margin-top: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 15%;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 72px 15%;
    gap: 20px;
}

.hero-text {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}

.hero-text-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text-sub {
    font-size: 18px;
    color: #E5E7EB
}

.hero-cta-button {
    background-color: #3882F6;
    padding: 2px 15px;
    margin-top: 5px;
    border-radius: 5px;
    color: #f9faf8;
    border: none;
}

.hero-image {
    background-color: grey ;
    font-size: small;
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding: 72px 15%;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
}

.boxes {
    display: flex;
    align-items: center;
    font-weight: 200;
}

.box-column {
    margin-top: 36px;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.frame {
    border: solid #3882F6 2px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 15%;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
}

.quote-signature {
    align-self: flex-end;
    font-weight: bold;
}

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 15%;
}

.CTA-frame {
    background-color: #3882F6;
    width: 100%
}

.content {
    flex: 1
}
footer {
    background-color: #1F2937;
    flex-shrink: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}